/* RESET MINIMAL */
:root {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #111111;
  /* On force le noir profond dès le début */
  color: white;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* On gère le scroll dans l'app, pas sur le body */
}