:root {
  --bg-app: #111111;
  --bg-card: #1e1e1e;
  --text-main: #ffffff;
  --text-sub: #a1a1a1;
  --primary: #e50914;
  --red: #ff4757;
  --gold: #ffb300;
  --font-main: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /* Retire le flash bleu au clic sur mobile */
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-app);
  color: var(--text-main);
  font-family: var(--font-main);
  width: 100vw;
  height: 100vh;
  /* Fallback */
  height: 100dvh;
  /* Hauteur réelle mobile */
  overflow: hidden;
  /* Empêche tout scroll global */
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Scrollbar invisible */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}